<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>已通过方案</title>
</head>
<link rel="icon" href="__PUBLIC__/images/compallogo.png" type="image/x-icon">
<link rel="stylesheet" href='__PUBLIC__/css/bootstrap.min.css'>
<link rel="stylesheet" href="__PUBLIC__/css/layui.css">
<link rel="stylesheet" href="__PUBLIC__/css/index.css">
<script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/element.js"></script>
<body>
<!--skin	line （行边框风格）
row （列边框风格）
nob （无边框风格）
用于设定表格风格，若使用默认风格不设置该属性即可
page:true: 开启分页
even	true/false	若不开启隔行背景，不设置该参数即可
templet - 自定义列模板
-->
<ul class="layui-nav" lay-filter="">

    <li class="layui-nav-item "><a href="{:url('index/index')}" style="font-size: 20px;text-decoration: none">Compal SOD Software Management System</a></li>

    <li class="layui-nav-item">
        <a href="{:url('index/signinfo')}">进行中<span class="layui-badge">{$pend}</span></a>
    </li>
    <li class="layui-nav-item">
        <a href="#">已签核<span class="layui-badge">{$welldone}</span></a>
    </li>


    <ul class="layui-nav layui-layout-right" lay-filter="">
        <li class="layui-nav-item" >
            <a href=""><img src="/tp5/public/static/images/tx.jpg" class="layui-nav-img">{$Think.session.username}</a>
            <dl class="layui-nav-child">
                <!--<dd><a href="javascript:;">修改信息</a></dd>-->
                <!--<dd><a href="javascript:;">安全管理</a></dd>-->
                <dd><a href="{:url('index/login')}">退了</a></dd>
            </dl>
        </li>
    </ul>
</ul>
<div style="width: 1050px;margin-left: 50%;transform: translateX(-50%);margin-top: 100px">
    <table class="layui-table" lay-data="{width:1050,height:315, url:'/tp5/index/itform/edata', page:true, id:'etable', skin:'row', even:true} " style="margin-left: auto;margin-right: auto">
        <thead>
        <tr>
            <th lay-data="{field:'id', width:100, sort: true}">ID</th>
            <th lay-data="{field:'scheme', width:100, templet: '#usernameTpl'}">方案名</th>
            <th lay-data="{field:'title', width:100}">申请部门</th>
            <th lay-data="{field:'password' , width:100}">申请人</th>
            <th lay-data="{field:'checker' , width:500}">签核</th>
            <th lay-data="{field:'city' , width:100 ,style:'background-color: #009688; color: #fff;',templet:'#impt'}">重要性</th>

        </tr>
        </thead>
    </table>
</div>
</body>
<script type="text/html" id="usernameTpl">
    <!-- <a href="/?table-demo-id={{d.id}}" class="layui-table-link" target="_blank">{{ d.username }}</a>-->
    <a href="{:url('index/progress')}?id={{d.id}}" class="layui-table-link" >{{ d.scheme }}</a>
</script>
<script type="text/html" id="impt">
    {{#  if(d.city === 'emergency'){ }}
    <span style="color: yellow;">{{ d.city }}</span>
    {{#  } else { }}
    {{ d.city }}
    {{#  } }}
</script>
<script type="text/html" id="barDemo1">
    <a class="layui-btn layui-btn-xs" lay-event="edit">工具性按钮</a>
</script>
<script type="text/javascript">
    layui.use('element', function(){
        let element = layui.element;
        element.init();


        //…
    });
    layui.use('table',function () {
        let ltable = layui.table;
    })
</script>
</html>